# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      charmcraft-credentials:
        required: true

jobs:

  lib-check:
    name: Check libraries
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@2.3.0
        with:
          credentials: "${{ secrets.charmcraft-credentials }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"

  lint:
    name: Lint Check
    runs-on: ubuntu-24.04

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: python3 -m pipx install tox

    - name: Lint code
      run: tox -e lint

  unit:
    name: Unit Test
    runs-on: ubuntu-24.04

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: python3 -m pipx install tox

    - name: Run unit tests
      run: tox -e unit

  terraform-checks:
    name: Terraform
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/terraform-checks.yaml@main
    with:
      charm-path: .
      # Don't run this workflow since the charm goes to `Error` state when deployed on its own
      # See: https://github.com/canonical/resource-dispatcher/issues/66
      apply: false

  build:
    needs:
      - lib-check
      - lint
      - unit
      - terraform-checks
    strategy:
      matrix:
        path:
          - .
          - tests/integration/manifests-tester
          - tests/integration/manifests-tester-no-secret
    name: Build charm | ${{ matrix.path }}
    uses: canonical/data-platform-workflows/.github/workflows/build_charm.yaml@v41.1.0
    with:
      path-to-charm-directory: ${{ matrix.path }}
      cache: false

  integration:
    strategy:
      fail-fast: false
      matrix:
        tox-env:
          - integration-charm
          - integration-upgrade-happy-path
          - integration-upgrade-erronous-path
    name: Integration Test (${{ matrix.tox-env }})
    runs-on: ubuntu-24.04
    needs:
      - build
    steps:
    - name: Check out repo
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pipx install tox

    - name: Setup environment
      run: |
        sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
        sudo rm -rf /run/containerd
        sudo snap install concierge --classic
        sudo concierge prepare --trace

    - name: Download packed charm(s)
      uses: actions/download-artifact@v7
      with:
        pattern: ${{ needs.build.outputs.artifact-prefix }}-*
        merge-multiple: true
        
    - name: Run integration tests
      run: tox -vve ${{ matrix.tox-env }}

    # On failure, capture debugging resources
    - name: Get all
      run: kubectl get all -A
      if: failure()

    - name: Get juju status
      run: juju status
      if: failure()

    - name: Get workload logs
      run: kubectl logs --tail 100 -ntesting -lapp.kubernetes.io/name=resource-dispatcher
      if: failure()

    - name: Get operator logs
      run: kubectl logs --tail 100 -ntesting -loperator.juju.is/name=resource-dispatcher
      if: failure()
